@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  width: 500px;
}

.hidden {
  display: none!important;
}

.invisible {
  visibility: hidden;
}

h1,
h2 {
  text-align: center;
  text-indent: -18px;
}

/* Fieldsets */

ul {
  list-style: none;
  padding-left: 0;
}

ul#examples {
  margin-left: 15px;
}

ul#examples li {
  margin: 5px 0;
}

.up-down-arrow {
  cursor: move;
  font-size: 25px;
  vertical-align: sub;
}

.name {
  width: 170px;
}

.url {
  width: 292px;
}

.remove-fieldset-button {
  color: #f00;
  cursor: pointer;
  font-size: 17px;
}

/* Buttons */

#buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 467px;
  margin-left: 16px;
}

#save-button {
  position: relative;
}

#saved-notification {
  position: absolute;
  top: 3px;
  right: -40px;
}

#close-button-wrapper {
  text-align: center;
  text-indent: -18px;
}
